@charset "UTF-8";
html {
  background-color: #E9E9F3;
  font-family: Montserrat, "游ゴシック", YuGothic, sans-serif; }

body {
  background-color: #E9E9F3;
  font-family: Montserrat, "游ゴシック", YuGothic, sans-serif; }

img {
  max-width: 100%;
  max-height: 100%; }

.main {
  padding: 0; }

.moon {
  position: relative;
  height: 480px; }
  .moon img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; }

.text {
  padding: 0 15px; }

.banner ul div {
  margin-bottom: 30px; }
  .banner ul div a {
    color: #CEA57E; }

.banner li {
  margin-bottom: 15px; }
  .banner li.center-block {
    display: block; }
  .banner li small {
    font-size: 10px;
    margin-right: 5px; }

.banner .btn {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 0; }

.banner .btn-default {
  border: 1px solid #999999;
  color: #999999;
  background-color: transparent; }
  .banner .btn-default:hover, .banner .btn-default:focus {
    border: 1px solid #999999;
    outline: none;
    color: #FFFFFF;
    background-color: #999999; }

.center-block .btn-default {
  border: 1px solid #FFFFFF;
  color: #CEA57E;
  background-color: #FFFFFF; }
  .center-block .btn-default:hover, .center-block .btn-default:focus {
    border: 1px solid #CEA57E;
    outline: none;
    color: #FFFFFF;
    background-color: #CEA57E; }

.footer {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #999999; }

.pricing h1 {
  margin-bottom: 20px; }

@media (min-width: 768px) {
  .text img {
    position: absolute;
    height: 260px;
    bottom: 0;
    left: 80px; } }
