RewriteEngine On

RewriteCond %{HTTP_HOST} ^www\.yinyang-calendar\.com
RewriteRule ^(.*) http://yinyang-calendar.com/$1 [R=301,L]

RewriteCond %{THE_REQUEST} ^.*/index.html
RewriteRule ^(.*)index.html$ http://yinyang-calendar.com/$1 [R=301,L]
