@import "tailwindcss";

html,
body {
  background: linear-gradient(
    0deg,
    #9e6486 0%,
    #eba880 30%,
    #f3cf8d 60%,
    #ecab99 100%
  );
  min-height: 100vh;
  font-family: $font;
}

img {
  max-width: 100%;
  max-height: 100%;
}
